html, body{
  /* width: 100%;
  height: 100%;
  position: absolute;
  /* remove the extra whites around */
  /* margin: 0; */
  /* height:100vh; */
  margin:0;
   padding:0;
   height:100%;
}

label, button {
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}

label, button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  /* font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ; */
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}


#main-container {
  
  /* min-height:100%;
  position:relative; */
  
}
#content-container{
  height: 87vh;
  width: 100%;  

}
#button_fa_wrap{
  height: 60px;
  width: 65px;
  font-size: 45px;
  display: inline-block;
  transition: transform .2s;
}

#button_fa_wrap_home{
  height: 60px;
  width: 45px;
  font-size: 45px;
  display: inline-block;
  transition: transform .2s;
}
#button_fa_wrap_upload{
  height: 60px;
  width: 45px;
  font-size: 45px;
  display: inline-block;
  transition: transform .2s;
}

#button__headers_row_one_icon{
  /* text-align: center; */
  text-align:right;

    /* border: 1px solid black;  */
    width: 100%; 
    margin-right: 25px;

}

#button__headers_row_two_icon{
  /* text-align: center; */
  text-align:right;

    /* border: 1px solid black;  */
    width: 100%; 
    margin-right: 15px;

}

.text-and-image-line{
 
  vertical-align:middle;
   display:inline;
  font-size: 10px;
}





#button_fa_wrap_controls_table{
  height: 35px;
  width: 35px;
  font-size: 35px;
  display: inline-block;
  
  
}

#button_fa_wrap_controls_small{
  height: 40px;
  width: 40px;
  font-size: 20px;
  display: inline-block;
  
  
}

.banner_home{
  text-align:center;
  
}

.drop_shadow{

  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;

}

.custom_row_home{
  margin:0;
  width: 100%;
}

.custom_row_right{
  margin:0;
  width: 100%;
  position: relative;
  text-align:right;
}

.custom_row_text{
  margin:0;
  width: 100%;
  position: relative;

}

.custom_row_text_center{
 
  width: 100%;
  position: relative;
  text-align:center;
  display: block;
  margin-right: 125px;
  
}

.custom_row{
  height: 100%;
  width: 100%;
}

#button_fa_wrap_controls{
  height: 80px;
  width: 80px;
  font-size: 80px;
  display: inline-block;
  margin-inline: 5%;
  transition: transform .2s;
  
}

#button_fa_wrap_right
{
  height: 60px;
  width: 65px;
  font-size: 45px;
  display: inline-block;
  transition: transform .2s;
  
  

}

#button__controls_row{
  text-align: center;
  
}

#button__headers_row{
  /* text-align: center; */
  text-align: center;
  display: grid; 
  grid-template-columns: 5fr 1fr; 
   
    /* border: 1px solid black;  */
    width: 100%; 
    align-items: center;
        justify-content: center;
}

#button_spacer{
  height: 60px;
  width: 80px;
  display: inline-block;
  
}



#icons_row{
  margin-left: 10px;
 

}

.rotate {
  width: 100px;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.float_btn_default{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float_btn_play{
	position:fixed;
	width:70px;
	height:70px;
	bottom:40px;
	right:140px;
	background-color:rgb(22, 161, 33);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size: 35px;
	box-shadow: 2px 2px 3px #999;
  transition: transform .2s;
}

.float_btn_play_icon{
	margin-top:17px;
  margin-left: 7px;
}

.float_btn_play:hover {
  transform: scale(1.5); 
  color:#FFF;
}


.float_btn_stop{
	position:fixed;
	width:70px;
	height:70px;
	bottom:40px;
	right:40px;
	background-color:rgb(156, 5, 5);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size: 35px;
	box-shadow: 2px 2px 3px #999;
  transition: transform .2s;
}

.float_btn_stop_icon{
	margin-top:17px;
  
}

.float_btn_stop:hover {
  transform: scale(1.5); 
  color:#FFF;
}


#button_fa_wrap:hover{
  transform: scale(1.5); 
}

#button_fa_wrap_controls:hover {
  transform: scale(1.5); 

}

#button_fa_wrap_controls:hover {
  transform: scale(1.5); 

}

#button_fa_wrap_home:hover {
  transform: scale(1.5); 

}

#button_fa_wrap_upload:hover {
  transform: scale(1.5); 

}