<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Blockly Project</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!-- <script src="https://unpkg.com/blockly"></script> -->
  <script src="{{ url_for('static',filename='modules/blockly.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/blockly_compressed.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/blocks_compressed.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/msg/en.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/jquery-3.5.0.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/python_compressed.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/buffer@6.0.3')}}"></script>
  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/socket.io@4.0.1.js')}}"></script>

  <!-- <script src="{{ url_for('static',filename='js/control.js')}}"></script> -->
  <script src="{{ url_for('static',filename='js/socket-client.js')}}"></script>
  <script src="{{ url_for('static',filename='js/modals.js')}}"></script>
  <script defer src="{{ url_for('static',filename='js/blockly-page.js')}}"></script>
  <script defer src="{{ url_for('static',filename='js/blockly/workspace_simple.js')}}"></script>

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>

  <link href="{{ url_for('static',filename='fontawesome/css/fontawesome.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/brands.css')}}"  rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/solid.css')}}"  rel="stylesheet">

  <style>
    @import url("{{ url_for('static',filename='css/header-style.css')}}");
    @import url("{{ url_for('static',filename='css/blockly-page-body-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
  </style>
</head>

<body onload="loadProject()" onclick="closeModalSuccessOrErrorwhenClickAnywhere()">
  {% include 'header.html' %}
</br>
  <div id="main-container">
    <div class="row custom_row">
      <div class="col-10 " >
        <div class="drop_shadow" id="blocklyDiv"></div>
      </div>
     
      

        <div id="buttons-container-right_kind" class="col-2">

          <div id='button__headers_row_one_icon'>
            <!-- <div id="button_fa_wrap">
              <a onclick="jsfunction()" href="javascript:save_xml('{{ project_id }}');"  id="open-home-href" style="color: rgb(24, 21, 148); text-decoration: none;">
              <i class="fa-solid fa-floppy-disk"></i>
              </a>
            </div> -->
            <!-- <div id="button_spacer"></div> -->
            <div id="button_fa_wrap"  >
              <a href='/'   style="color: rgb(255, 136, 0); text-decoration: none;">
              <i class="fa-solid fa-house"></i>
              </a>
            </div>
          
         </div>  
        
        <!-- <div id="terminal_div">
          <div id="terminal_scrollable-content">
          <p>FossBot Terminal...</p>
        </div>
        </div> -->
      

        <div id="button__controls_row">
        <div id="button_fa_wrap_controls">
          <a  onclick="javascript:runCode(1)" href="#"  style="color: rgb(56, 199, 0); text-decoration: none;">
          <i class="fa-solid fa-circle-play"></i>
          </a>
        </div>
        <div id="button_fa_wrap_controls">
          <a  onclick="stop_script()" href="#"  style="color: rgb(199, 30, 0); text-decoration: none;">
          <i class="fa-solid fa-circle-stop"></i>
          </a>
        </div>
        <!-- <div id="button_fa_wrap_controls">
          <a onclick="reset_stage()" href="#"  style="color: rgb(253, 165, 1); text-decoration: none;">
          <i class="fa-solid fa-circle-dot"></i>
          </a>
        </div> -->
      </div>
    </br>
    <!-- <div id="button__controls_row">
      <select id="stage_select" class="form-select" aria-label="Επιλέξτε πίστα">
        <option value="-1" selected>Select stage</option>
        {% for scene in scenes %}
          <option >{{scene}}</option>
        {% endfor %}
        
      </select>

      <div id="button_fa_wrap_controls_small">
        <a onclick="open_map()" href="#"  style="color: rgb(23, 76, 155); text-decoration: none;">
        <i class="fa-solid fa-globe"></i>
        </a>
      </div>

    </div> -->
       
        <!-- <div id="right_buttons">

          <button onclick="runCode('{{ project_id }}')" type="button" class="run">Τρέξε το πρόγραμμα!</button>
        
        </div>
        <div id="right_buttons">
          <button onclick="stop_script()" type="button" class="stop">Σταμάτα την εκτέλεση!</button>
        </div> -->
      </div>
    </div>
    <!-- <div id="buttons-container">
      

      
       
    </div> -->
    <!-- {% include 'footer.html' %} -->
  </div>

 



  <!-- <div>
  <a onclick="javascript:runCode(1)" href="#" class="float_btn_play">
    <i class="fa-solid fa-play float_btn_play_icon"></i>
  </a>
</div>

<div>
  <a onclick="stop_script()" href="#" class="float_btn_stop">
    <i class="fa-solid fa-stop float_btn_stop_icon"></i>
  </a>
</div> -->

  <xml  id="toolbox" style="display: none">
    <block type="move_forward_default"></block>
    <block type="move_reverse_default"></block>
    <block type="turn_right_90"></block>
    <block type="turn_left_90"></block>    
    <block type="set_color"></block>
  </xml> 

  <!-- modal : error -->
  {% include 'modal-error.html' %}

  <!-- modal : success -->
  {% include 'modal-success.html' %}

</body>

</html>
