<header id="header" class="header">
    <div class="header-wrap">
        <div class="whitebgr">
        <div id="header-logo" class="header-logo">
            <img src="{{ url_for('static',filename='photos/huagr.png')}}" class="hua-logo" alt=" ">
        </div>
        <div id="header-logo" class="header-logo">
            <img src="{{ url_for('static',filename='photos/gfel.png')}}" class="ellak-logo" alt=" ">
        </div>
    </div>
        <div id="header-robot-name"> 
            <strong id="robot-name">{{ robot_name }}</strong>
        </div>
    </div>
</header>