<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

  <script src="{{ url_for('static',filename='modules/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/socket.io@4.0.1.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/popper.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/axios.min.js')}}"></script>

  <script src="{{ url_for('static',filename='modules/msg/strings_en.js')}}"></script>
  <script src="{{ url_for('static',filename='modules/msg/strings_el.js')}}"></script>

  <script src="{{ url_for('static',filename='js/socket-client.js')}}"></script>
  <script src="{{ url_for('static',filename='js/modals.js')}}"></script>
  <script src="{{ url_for('static',filename='js/home-page.js')}}"></script>

  <link href="{{ url_for('static',filename='fontawesome/css/fontawesome.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/brands.css')}}" rel="stylesheet">
  <link href="{{ url_for('static',filename='fontawesome/css/solid.css')}}" rel="stylesheet">

  <link rel="kindergarten icon" href="{{ url_for('static', filename='/icons/kinder.png') }}">

  <style>
    @import url("{{ url_for('static',filename='css/header-style.css')}}");
    @import url("{{ url_for('static',filename='css/home-page-body-style.css')}}");
    @import url("{{ url_for('static',filename='css/footer-style.css')}}");
    @import url("{{ url_for('static',filename='css/common.css')}}");
    @import url("{{ url_for('static',filename='css/modals.css')}}");
  </style>
</head>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    var socket = io('http://' + document.domain + ':' + location.port);

    socket.on("connect", function () {
      console.log("Socket connected!");
      socket.emit('connection', { 'data': 'I\'m connected!' });
      socket.emit('get-all-projects');
    });
    socket.on('disconnect', () => {
      console.log("Socket disconnected");
      socket.emit('disconnection', { 'data': 'I\'m disconnected!' });
    });

    socket.on("all-projects", (data) => {
      console.log("all-projects data:", data);
      loadProjects(data);
    });

  });
</script>

<body onload="setStringsInChosenLanguage('{{ language }}')" onclick="closeModalSuccessOrErrorwhenClickAnywhere()">
  {% include 'header.html' %}
  <div id="main-container">
    <div id="content-container">
      <br>
      <div class="row custom_row_home">
        <div class="col-8">

          <div class="row custom_row_right">
            <div id="button__headers_row_two_icon">

              <div id="button_fa_wrap_upload">
                <a onclick="uplodadProject()" href="#" style="color: rgb(141, 141, 141); text-decoration: none;">
                  <i class="fa-solid fa-upload"></i>
                </a>
                <form action="{{ url_for('upload_project') }}" method="POST" enctype="multipart/form-data"
                  style="display: none;">
                  <input type="file" id="fileDialogId" name="file" onchange="form.submit()" />

                </form>
                <!-- <form action="/upload_project" method = 'POST'>
                  <input type="file" class="fa-solid fa-upload" id="file" name="file" multiple><br><br>
                  <input type="submit">
                </form> -->
              </div>

              <div id="button_fa_wrap_home">

                <a onclick="createNewProject()" href="#" style="color: rgb(19, 148, 7); text-decoration: none;">
                  <i class="fa-solid fa-plus-square"></i>
                </a>
              </div>

            </div>
          </div>

          <div id="project-lists-container">
            <div id="project-lists-table">
              <table id="table-projects" role="grid">
                <thead id="head-table-projects" role="grid">
                  <tr role="row">
                    <th class="head-title" id="head-title-id" tabindex="0" rowspan="1" colspan="1">Τίτλος</th>
                    <th class="head-title" id="head-info-id" tabindex="0" rowspan="1" colspan="1">Περιγραφή</th>
                    <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
                    <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
                    <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
                    <th class="head-title" tabindex="0" rowspan="1" colspan="1"></th>
                  </tr>
                </thead>
                <tbody id="body-table-projects" role="grid">

                </tbody>

              </table>
            </div>
          </div>

        </div>

        <div class="col">
          <div class="row">
            <div id="button__headers_row_one_icon">
              <div id="button_fa_wrap">
                <a href="/admin_panel" style="color: rgb(75, 75, 75); text-decoration: none;">
                  <i class="fa-solid fa-cog"> </i>
                </a>
              </div>
            </div>

          </div>

          <div class="row custom_row_text">
            <h3 id="general-instructions-id" style="color: rgb(252, 122, 1);">Γενικές οδηγίες</h3>
          </div>
          <div class="row custom_row_text">
            <strong id="blocks-title-id">Μέσα απο την σελίδα αυτή, μπορείς να δεις όλα τα προτζεκτ που έχουν δημιουργηθεί και αποθηκευτεί
              πάνω
              στο συνδεδεμμένο ρομπότ καθώς και τους φακέλους στους οποίους ανήκουν. Μπορείς να δημιουργήσεις καινούριο
              φάκελο ή προτζεκτ.
              Υπάρχει ακόμα η δυνατότητα να μεταβείς στην σελίδα του διαχειριστικού για την παραμετροποίηση τιμών που
              αφορούν το ρομπότ αλλά και στην σελίδα του εικονικού προγραμματισμού. </strong>
          </div>


          <br>

          <div class="row custom_row_text">
            <div class="row custom_row_text">
              <h3 id="kindergarten-version" style="color: rgb(252, 122, 1);">Έκδοση Νηπιαγωγείου</h3>
            </div>
            <div id="kindergarten-version-des" class="row custom_row_text">
              <strong>Κάνοντας κλικ στο παρακάτω κουμπί, θα μεταφερθείτε σε μια απλοποιημένη έκδοση του Blockly ειδικά
                σχεδιασμένη για το Νηπιαγωγείο. </strong>
            </div>

            <div class="row custom_row_text_center">

              <div id="button_fa_wrap">
                <br>
                <a href="/kindergarten?id=1" style="color: rgb(12, 135, 235); text-decoration: none;">
                  <input type="image" src="{{ url_for('static', filename='/icons/kinder.png') }}"
                    style="width:150px;height:150px;">
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- {% include 'footer.html' %} -->
  </div>


  <!-- modal : error -->
  {% include 'modal-error.html' %}

  <!-- modal : success while loading/ saving settings -->
  {% include 'modal-success.html' %}

  <!-- modal : ask for new project name  -->
  {% include 'modal-project-name.html' %}

  <!-- modal : ask for new project description -->
  {% include 'modal-project-description.html' %}


</body>

</html>